@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.4rem;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

body * {
  line-height: calc(1em + 0.8rem);
  color: #111111;
  font-family: inherit;
  box-sizing: inherit;
  margin: 0;
}

#__next {
  height: 100%;
  width: 100%;
}

h1 {
  font-weight: 700;
  font-size: 7.2rem;
  margin: 0.3em 0;
}

h2 {
  font-weight: 700;
  font-size: 5.6rem;
  margin: 0.3em 0;
}

h3 {
  font-weight: 700;
  font-size: 4rem;
  margin: 0.3em 0;
}

h4 {
  font-weight: 600;
  font-size: 3.2rem;
  margin: 0.3em 0;
}

h5 {
  font-weight: 600;
  font-size: 2.4rem;
  margin: 0.3em 0;
}

h6 {
  font-weight: 600;
  font-size: 2.1rem;
  margin: 0.3em 0;
}

p,
a,
label,
span:not(.anticon),
input,
select,
textarea,
button {
  font-size: 1.8rem;
  margin: 0.3em 0;
}

form button {
  margin: 0 auto;
  display: block;
}

textarea {
  resize: none;
}

pre,
code {
  white-space: pre-wrap;
  font-size: 1.6rem;
  font-family: "Fira Code";
  margin: 0.3em 0;
}

caption {
  font-size: 1.4rem;
}

label,
input,
select,
textarea {
  display: block;
  width: 100%;
}

input,
select,
textarea {
  padding: 0.8rem 1.2rem;
}

details {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 725px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px;
}

li details {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  width: 100%;
  margin: 10px 10px;
  padding: 15px;
}

details summary {
  cursor: pointer;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

details summary > * {
  display: inline;
}

/* Preformatted codeblocks, anywhere <pre></pre> is used */
pre {
  overflow-x: hidden;
  font-family: "Fira Code";
  border-radius: 8px;
  padding: 8px;
  display: block;
  background-color: #a2a2a2;
}
